<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewKal: A spaced repetition reminder app.</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>NewKal v1</h1>

    <div>
        <h2 id="month-label"></h2>
        <button id="prev-month-btn"><</button>
        <button id="next-month-btn">></button>
    </div>
    
    <div class="calendar" id="calendar">
    </div>

    <div class="skills-list" id="skills-list">
        <button id="skills-list-close-btn">&times;</button>

        <table>
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>

            <tbody id="skills-table">
                
            </tbody>
        </table>
    </div>

    <div class="stats" id="stats">
        <button id="stats-close-btn">&times;</button>

        <div class="skills-content">

            <h1 class="name-header" id="skill-name">Sliding Window Algo</h1>

            <div class="sub-headers-group">
                <h2 class="sub-header">Start-date:</h2>
                <p id="skill-start-date">09/28/2026</p>

                <h2 class="sub-header">Retention-rate:</h2>
                <p id="skill-retention-rate">49%</p>

                <h2 class="sub-header">Next interval:</h2>
                <p id="skill-next-interval">3 days</p>

                <h3 id="skill-level">Washed</h3>
            </div>
                
            </div>

            <div class="bottom-header">
                <button id="delete-skill-review">Delete review</button>
            </div>
    </div>

    <div>
        <label for="daily-subject">What did you learn today? </label>
        <input id="daily-subject">
        <button id="daily-subject-btn">ok!</button>
    </div>
    

    <button id="all-topics-btn">topics</button>
    <script src="/static/app.js" defer></script>
</body>
</html>