<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewKal: A spaced repetition reminder app.</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>NewKal v1</h1>

    <div>
        <h2 id="month-label"></h2>
        <button id="prev-month-btn"><</button>
        <button id="next-month-btn">></button>
    </div>
    
    <div class="calendar" id="calendar">
    </div>

    <div>
        <label for="daily-subject">What did you learn today? </label>
        <input id="daily-subject">
        <button id="daily-subject-btn">ok!</button>
    </div>
    

    <button id="all-topics-btn">topics</button>
    <script src="/static/app.js" defer></script>
</body>
</html>